.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.perimeter {
  padding-top:20px;
  max-width: 1280px;
  margin: 00 auto;
  display: flex;
  flex-direction: column;
}

.image {
  flex: 0 0 100%;
}

.copy {
  width: 415px;
  margin-left: 30px;
  font-family: sans-serif;
}

.elements {
  width: 415px;
  margin-left: 50px;
}

.element {
  width: 415px;
}

@media (min-width: 415px) {
  .perimeter {
    flex-direction: row;
  }
  
  .image {
    flex: 0 0 80%;
  }
}

@media (min-width: 800px) {
  .image {
    flex: 0 0 33.5%;
  }
}

